img {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 600px) {
    img {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 1500px) {
    .bannerContainer {
        margin: 0 10rem;
    }
    
    img {
        width: 100%;
        height: auto;
    }
}